@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

.container{
    margin-top: 200px;
}

h1{
    text-align: center;
}

input{
    align-items: center;
    width: 30%;
    height: 20px;
}

button{
    width: 30.5%;
    height: 25px;
    margin-bottom: 20px;
    font-weight: 600;
    
}

.container2{
    text-align: center;
}

.login{
    text-align: center;
}

span{
    margin-top: 20px;
    font-size: 15px;
}

input, button{
    margin-top: 10px;
}

a{
    text-decoration: none;
    color: black;
}