@media(max-width: 970px){
    button{
        width: 50%;
    }

    input{
        width: 49%;
    }
    h1{
        letter-spacing: 1px;
    }
}

@media(max-width: 630px){
    input{
        height: 30px;
        width: 60%;
    }
    button{
        width: 61%;
    }
}

@media(max-width: 520px){
     input{
        width: 80%;
    }
    button{
        width: 81%;
    }
}

@media(max-width: 430px){
    h1{
        font-size: 25px;
    }
}