@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --primary-color: #121212;
    --segundary-color: white;
    --color-button: #131313;
    --color-button-hover: black;
    --text-padrao: Poppins;
    
}